.main-container {
    width: 80vw;
    height: 80vh;
    align-items: center;
    display: flex;
    flex-direction: column;

    h1 {
        align-self: center;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 2rem;

        .scene,
        .plan {
            align-self: center;

            .title-data {
                font-size: larger;
                color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
            }
            .data {
                font-size: x-large;
                font-weight: 500;
            }
        }
    }

    .content {
        font-size: larger;

        form {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
        }
    }
}
