<div class="main-container">
    <h1 mat-dialog-title>Shot Info</h1>
    <div class="header">
        <div class="scene">
            <span class="title-data">Scène: </span>
            <span class="data">{{data.scene}}</span>
        </div>
        <div class="plan">
            <span class="title-data">Plan: </span>
            <span class="data">{{data.shot}}</span>
        </div>
    </div>

    <div mat-dialog-content class="content">
        <div *ngIf="isEditable; else staticView">
            <form [formGroup]="shotInputsForm">
                <mat-form-field appearance="outline">
                    <mat-label>Scène</mat-label>
                    <input matInput formControlName="scene">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Plan</mat-label>
                    <input matInput formControlName="shot">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Valeur</mat-label>
                    <input matInput formControlName="shotSize">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Angle</mat-label>
                    <input matInput formControlName="shotType">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Mouvement</mat-label>
                    <input matInput formControlName="movement">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Focal</mat-label>
                    <input matInput formControlName="lens">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Ouverture</mat-label>
                    <input matInput formControlName="aperture">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Durée</mat-label>
                    <input matInput formControlName="estTime">
                </mat-form-field>
            </form>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" *ngIf="!isEditable" (click)="onEdit()">Edit</button>
        <button mat-raised-button color="primary" *ngIf="isEditable" (click)="onSave(shotInputsForm)">Save</button>
    </div>
    <ng-template #staticView>
        <mat-list>
            <mat-list-item>
                <span matListItemTitle>Valeur</span>
                <span matListItemLine>{{data.shotSize}}</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Angle</span>
                <span matListItemLine>{{data.shotType}}</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Mouvement</span>
                <span matListItemLine>{{data.movement}}</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Focal</span>
                <span matListItemLine>{{data.lens}}</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Ouverture</span>
                <span matListItemLine>{{data.aperture}}</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Durée</span>
                <span matListItemLine>{{data.estTime}}</span>
            </mat-list-item>
        </mat-list>
    </ng-template>

</div>