<div class="main-container">
    <h1 mat-dialog-title>Shot Info</h1>
    <div class="header">
        <div class="scene">
            <span class="title-data">Scène: </span>
            <span class="data">{{data.scene}}</span>
        </div>
        <div class="plan">
            <span class="title-data">Plan: </span>
            <span class="data">{{data.shot}}</span>
        </div>
    </div>

    <div mat-dialog-content>
        <div *ngIf="isEditable; else staticView">
            <form [formGroup]="shotInputsForm">
                <mat-list>
                    <mat-list-item>
                        <span matListItemTitle>Valeur</span>
                        <input matListItemLine formControlName="shotSize">
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>Angle</span>
                        <input matListItemLine formControlName="shotType">
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>Mouvement</span>
                        <input matListItemLine formControlName="movement">
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>Focal</span>
                        <input matListItemLine formControlName="lens">
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>Ouverture</span>
                        <input matListItemLine formControlName="aperture">
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>Durée</span>
                        <input matListItemLine formControlName="estTime">
                    </mat-list-item>
                </mat-list>
            </form>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" *ngIf="!isEditable" (click)="onEdit()">Edit</button>
        <button mat-raised-button color="primary" *ngIf="isEditable" (click)="onSave(shotInputsForm)">Save</button>
    </div>
    <ng-template #staticView>
        <mat-list>
            <mat-list-item>
                <span matListItemTitle>Valeur</span>
                <span matListItemLine>{{data.shotSize}}</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Angle</span>
                <span matListItemLine>{{data.shotType}}</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Mouvement</span>
                <span matListItemLine>{{data.movement}}</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Focal</span>
                <span matListItemLine>{{data.lens}}</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Ouverture</span>
                <span matListItemLine>{{data.aperture}}</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Durée</span>
                <span matListItemLine>{{data.estTime}}</span>
            </mat-list-item>
        </mat-list>
    </ng-template>

</div>