.short {
    display: none;
}

.mat-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;

    .header {
        font-weight: 500;
        font-size: larger;
        display: inline-flex;
        height: fit-content;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 1;
    }

    .content {
        word-wrap: break-word;
    }

    .cdk-drag-placeholder {
        opacity: 0;
    }

    .header,
    .content {
        margin: 0.5rem;
        padding-bottom: 0.5rem;
        width: calc(100% - 1rem);
        display: flex;

        mat-card-title {
            align-self: center;
            font-size: x-large;
            font-weight: 500;
            margin: 1rem;
        }

        .flex-container {
            display: flex;
            align-content: center;

            .divider-v {
                border-left: 1px solid black;
            }

            .flex-scene,
            .flex-plan,
            .flex-vplan,
            .flex-angle,
            .flex-mouvement,
            .flex-objectif,
            .flex-ouverture,
            .flex-temps,
            .flex-description,
            .flex-acteurs,
            .flex-actions {
                align-self: center;
                text-align: center;
                flex-grow: 1;
                margin: 0.5rem;
            }
            .flex-scene,
            .flex-plan {
                width: 2rem;
            }
            .flex-vplan,
            .flex-angle,
            .flex-mouvement {
                width: 4rem;
            }
            .flex-objectif,
            .flex-ouverture {
                width: 2rem;
            }
            .flex-temps {
                width: 3rem;
            }
            .flex-description {
                width: 10rem;
            }
            .flex-acteurs {
                width: 5rem;
            }
            .flex-actions {
                width: 1px;
            }
        }
    }
}

@media (max-width: 1300px) {
    .mid-screen {
        display: none;
    }
}

@media (max-width: 900px) {
    .small-screen,
    .mid-screen {
        display: none;
    }

    .short {
        display: inline-block;
    }

    .long {
        display: none;
    }
}

@media (max-width: 400px) {
    .mini {
        display: none;
    }
}
