<div class="mat-card-wrapper">
    <mat-card class="header">
        <mat-card-title>Découpage Technique</mat-card-title>
        <div class="flex-container">
            <div class="flex-scene long">Scène</div>
            <div class="flex-scene short">#S</div>
            <div class="divider-v"></div>
            <div class="flex-plan long">Plan</div>
            <div class="flex-plan short">#P</div>
            <div class="divider-v"></div>
            <div class="flex-vplan long">Valeur</div>
            <div class="flex-vplan short">Plan</div>
            <div class="divider-v"></div>
            <div class="flex-angle">Angle</div>
            <div class="divider-v"></div>
            <div class="flex-mouvement long">Mouvement</div>
            <div class="flex-mouvement short">Mouv</div>
            <div class="divider-v mini"></div>
            <div class="flex-objectif small-screen">Focal</div>
            <div class="divider-v small-screen"></div>
            <div class="flex-ouverture small-screen">Ouverture</div>
            <div class="divider-v small-screen"></div>
            <div class="flex-acteurs mid-screen">Acteurs</div>
            <div class="divider-v mid-screen"></div>
            <div class="flex-description mid-screen">Description</div>
            <div class="divider-v mid-screen"></div>
            <div class="flex-temps mini">Durée</div>
        </div>

    </mat-card>
    <mat-card cdkDropList *ngIf="shotlistService.shotList$ | async as shotList" class="content"
        (cdkDropListDropped)="drop($event, shotList)">
        <div matRipple *ngFor="let shot of shotList" class="clickable-div" (click)="openInfo(shot)" cdkDrag
            [cdkDragStartDelay]="300">
            <div class="flex-container">
                <div class="flex-scene">{{shot.scene}}</div>
                <div class="divider-v"></div>
                <div class="flex-plan">{{shot.shot}}</div>
                <div class="divider-v"></div>
                <div class="flex-vplan">{{shot.shotSize}}</div>
                <div class="divider-v"></div>
                <div class="flex-angle">{{shot.shotType}}</div>
                <div class="divider-v"></div>
                <div class="flex-mouvement">{{shot.movement}}</div>
                <div class="divider-v mini"></div>
                <div class="flex-objectif small-screen">{{shot.lens}}</div>
                <div class="divider-v small-screen"></div>
                <div class="flex-ouverture small-screen">{{shot.aperture}}</div>
                <div class="divider-v small-screen"></div>
                <div class="flex-acteurs mid-screen">
                    N/Addddddddddddddddddddddddddddddddddddddddddd ddddddddddddddddddddddddddddd</div>
                <div class="divider-v mid-screen"></div>
                <div class="flex-description mid-screen">{{shot.description}}</div>
                <div class="divider-v mid-screen"></div>
                <div class="flex-temps mini">{{shot.estTime}}</div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </mat-card>
    <button mat-fab color="primary" (click)="openDialog()"><mat-icon>add</mat-icon></button>

</div>